@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="side">
        <div class="center">
            Пользуйтесь нашей самой крутой соцсетью! Регистрируйтесь всего за 2 минуты, делитесь мыслями, находите новых друзей.
        </div>
        <img class="main-img" src="http://pngimg.com/uploads/earth/earth_PNG4.png" />
        
    </div>


    <div class="main">
        <partial name="Login" />
        <partial name="Register"  />
    </div>


</div>

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="AccountManager" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
