@model AwesomeNetwork.ViewModels.Account.SearchViewModel;

<div class="block-reg background-white">

    @if (Model.Users.Count != 0)
    {
        @foreach (var user in @Model.Users)
        {
            <div>
                <label>@user.GetFullName()</label>
                
            </div>
        }
    }
    else
    {
        <label> Поиск не дал результатов.</label>
    }

</div>